@media (max-width: 768px) {

    .login{
        margin-top: 250px;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid red ;
        border-radius: 25px;
        width: 40%;
        padding: 4.5rem;
        position: relative;
    }

    .login-text{
        text-align: center;
        padding-bottom: 20px;
    }


    .submit-btn{
        padding-top: 1.5rem;
        position:absolute;
        left: 40%;
        
    }

}


.login{
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid red ;
    width: 40%;
    padding: 5rem;
    position: relative;
}
.login-text{
    text-align: center;
    padding-bottom: 20px;
}

.token{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.submit-btn{
    padding-top: 1.5rem;
    position:absolute;
    left: 50%;
}