.new-article-container{
    margin-top: 200px;
    border: 2px solid red;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.new-article{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}